@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
        <p>This ASP.NET MVC Web App is part of a demonstration presented at the Dallas-Fort Worth Azure Meetup on July 18, 2017.</p>
    </div>
</div>