@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-12">
        <h2>Contact</h2>
        <p><b>Doug Vanderweide</b></p>
        <p><a href="https://www.dougv.com">https://www.dougv.com</a></p>
        <p><a href="https://twitter.com/dougvdotcom">&#64;dougvdotcom</a></p>
        <p><a href="http://linkedin.com/in/dougvdotcom">linkedin.com/in/dougvdotcom</a></p>
        <p>dougvanderweide@gmail.com</p>
    </div>
</div>
