@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DFW Azure Meetup</h1>
    <h2>Azure Support For Microservices</h2>
    <h3>18 July, 2013</h3>
    <p class="lead">This is the portal for managing the microservices-based, multi-source photo collection service.</p>
</div>