@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>DFW Azure Meetup<br />
    Azure Support For Microservices</h2>
    <h3>Presented 18 July, 2017 by Doug Vanderweide</h3>
    <p class="lead">This is the portal for managing the microservices-based, multi-source photo collection service.</p>
</div>